# Database Configuration
DB_PASSWORD=
DB_PORT=1434
DB_NAME=SkynetSmartTrip

# Environment Configuration
ASPNET_ENV=Development

# Ports Configuration
WEB_PORT=3333
API_PORT=5555

# AI Settings
Grok__ApiKey=

# Email Settings
EmailSettings__Password=
